 body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} 

.container{
    flex: 1;
}

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

.plus-jakarta-sans-jakartabody{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 500 !important;
    font-style: normal !important;
}

.navbar{
    height: 5rem;
    background-color: white;
}
 
.fa-regular {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.allList-Head{
    margin-top: 2rem !important;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}
/* h3{
    text-align: center;
} */

.f-info-links, .f-info-socials, .f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.f-info-socials{    
    font-size: 1.2rem;
    /* margin-right: 1rem; */
}

.f-info-socials i{
    padding-right: 1rem;
    margin-right: 5 rem; 
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;

}

.listing-card{
    border: none !important ;
    margin-bottom: 2rem;

}

.row{
    display: flex;
    justify-content: space-around;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

/* .form{
    width: 70%;
    
}
.mb-3 input{
    margin-left: 20%;
} */
.card-text{
    font-weight: 400 !important;
}

.listingDet{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0;
    background-color: white;
}

.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}